{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AGKI Dispensary</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Clash+Display&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/90ee3bc580.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <style>
        .image-zoom-wrapper {
            position: relative;
        }
    
        .delete-button {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1; /* Ensure the button is above the image */
        }
    </style>
    
    
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">


    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-white sticky-top">
      <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">
              <!-- <img src="./assets/images/logo-dark.svg" alt=""> -->
              <h2>AGKI.</h2>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'signout' %}">Signout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'signin' %}">Signin</a>
                  </li>
                  {% endif %}
                  {% if user.is_superuser %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Staff</a>
                  </li>
                  {% endif %}
              </ul>
              <a href="{% url 'sickinfo' %}" class="btn btn-brand ms-lg-3">Report Disease</a>
          </div>
      </div>
  </nav>

    <div class="container">
        <br>
      <div class="col-12 grid-margin stretch-card">
          <div class="card">
              <div class="card-body">
                  <h2 class="card-title">Edit Review</h2>
                  
                  
                  <form class="forms-sample" method='POST' enctype="multipart/form-data">
      
                      {% csrf_token %}
                      
                    <div class="form-group">
                      <label for="name">name</label>
                      <input type="text" class="form-control" name="name" value="{{s.name}}">
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="name">username</label>
                        <input type="text" class="form-control" name="username" value="{{s.username}}">
                      </div>
                      <br>

                      <div class="form-group">
                        <label for="gender">Body:</label>
                        <textarea class="form-control" name="body" rows="5">{{s.body}}</textarea>
                      </div>
                    <br>

                      <div class="form-group">
                        <label for="name">time_posted</label>
                        <input type="text" class="form-control" name="time_posted" value="{{s.time_posted}}">
                      </div>
                      <br>

                      <div class="form-group">
                        <label for="name">views</label>
                        <input type="text" class="form-control" name="views" value="{{s.views}}">
                      </div>
                      <br>

                      <div class="form-group">
                        <label for="name">likes</label>
                        <input type="text" class="form-control" name="likes" value="{{s.likes}}">
                      </div>
                      <br>

                      <div class="form-group">
                        <label for="name">comments</label>
                        <input type="text" class="form-control" name="comments" value="{{s.comments}}">
                      </div>
                      <br>

                      <div class="form-group">
                        <label for="name">shares</label>
                        <input type="text" class="form-control" name="shares" value="{{s.shares}}">
                      </div>
                      <br>

                    
                    
                  
                    <div class="form-group">
                      <label for="image">Select Image (recomended size 600x600 px):</label>
                      <input type="file" class="form-control" name="image" >
                      <br>
                    </div>
                    
                    
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    
                  </form>
                  <button class="btn btn-light" onclick="goBack()">Cancel</button>
      
                    <script>
                        function goBack() {
                            window.history.back();
                        }
                    </script>
              </div>
          </div>
      </div>
      </div>   



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static 'app/js/main.js' %}"></script>
</body>

</html>
